/*/.vs/**
/*.sln
/*/*.sln
*.suo
*.opensdf
*.sdf
*.lib
*.idb
*.a
*.dll
*.exe
*.png
*.bz2
*.psd
*.gif
*.zip
*.tga
*.dylib
*.gz
*.so
*.jar
*.mp4
*.pak
*.bmp
*.obj
*.pdb
/*/DerivedDataCache/**
/*/Intermediate/**
/*/Binaries/**
/*/Saved/**
/*/Build/**